@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome Jack Black Fans!</h1>
    <p>
        We are exicted to announce that we are hosting a meet and greet for you to meet the famous one and only actor Jack Black <br>
        One of the top most known actors in the industry who has been featured in top movies like the new Super mario bros (Voice acts Bowser), Nacho libre, Kung Fu Panda, Jumanji, Goosebumps, and Tenacious D<br>Signing up to visit Jack Black is super easy just sign up for free by Clicking this button
    </p>
</div>
<div class="text-center">
    <a class="text-light btn btn-primary font-weight-bold" asp-action="Register" asp-controller="Home">Register Now</a>
</div>
