@model RegistrationViewModel

@{
}
<div>
    <h1>Thank You for Registering</h1>

    <p>Name: @Model.Name</p>
    <p>Email: @Model.Email</p>
    <p>Phone: @Model.Phone</p>
    <p>Address: @Model.Address</p>
</div>